<div class="container vert-bumper">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="content-box">
        <h1>Editing Hobby</h1>

        <%= render 'form', hobby: @hobby %>

        <%= link_to 'Show', hobby_slug_path(slug: @hobby.slug) %> |
        <%= link_to 'Back', hobbies_path %>
      </div>
    </div>
  </div>
</div>
