<div class="container vert-bumper">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <div class="content-box">
        <h1>New Hobby</h1>

        <%= render 'form', hobby: @hobby %>

        <%= link_to 'Back', hobbies_path %>
      </div>
    </div>
  </div>
</div>
