
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="content-box">
        <h1>New Hobby</h1>

        <%= render 'form', hobby: @hobby %>

        <%= link_to 'Back', hobbies_path %>
      </div>
    </div>
  </div>
</div>
