#hobby-footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#111;

   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
   .rand-button {
     $rand-button-color: #eee;
     color: $rand-button-color;
     border: 2px solid $rand-button-color;
     padding: 6px 15px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;

     &:hover {
       text-decoration: none;
       color: lighten($rand-button-color, 10%);
       border: 2px solid lighten($rand-button-color, 10%);
     }
   }
}

/* IE 6 */
* html #hobby-footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
