// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import 'slick';
@import 'slick-theme';

.slick-dots li.slick-active button:before {
  color: #EEE;
}

.slick-dots li button:before {
  color: #EEE;
}

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  background: #f1f1f1;
}

h3 {
  font-weight: 600;
  margin-top: 3px;
}
h5 {
  margin-top: 3px;
  font-weight: 300;
}

.greeting {
  padding: 30px 0;
  background: #282828;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  h3 {
    color: #EEE;
    text-align: center;
  }

  p {
    color: #BBB;
    font-weight: 300;
    line-height: 26px;
  }

  .actions {
    text-align: right;
  }

  .btn-default {
    color: #eee;
    background-color: transparent;
    border-color: #eee;

    &:hover {
      color: #333;
      background-color: #eee;
      border-color: #eee;
    }
  }
}

.top-bumper { margin-top: 22px; }
.hobby {
  .hobby-main {
    color: #FFF;

    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding: 20px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    .hobby-header {
      // color: #EEE;
      text-align: center;
      margin: 15px 0 12px;
    }
    .hobby-sub-header {
      display: flex;
      justify-content: space-between;
      // color: #BBB;
      margin-bottom: 30px;

      div {
        flex: 1;
        text-align: center;
        font-weight: 400;

        .strong {
          font-weight: 600;
          // color: #CCC;
        }
      }
    }
    .hobby-slider {
      border: 1px solid #fff;
    }
  }
  .hobby-affiliates {
    background: #fff;
    .adblock-message {
      background: #f1f1f1;
      padding: 22px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
    }
  }
  .hobby-body {
    padding: 22px 0 40px 0;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .hobby-affiliate-links {
      text-align: center;
      .affiliate_link {}
    }
  }
}

.content-box {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 30px 0;
  color: #CCC;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 100;
}
