// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import 'slick';
@import 'slick-theme';

.slick-dots li.slick-active button:before {
  color: #EEE;
}

.slick-dots li button:before {
  color: #EEE;
}

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
  font-weight: 600;
  margin-top: 3px;
}
h5 {
  margin-top: 3px;
  font-weight: 300;
}

.vert-bumper {
  padding: 20px 0;
}

.greeting {
  padding: 30px 0;
  background: #333;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  h3 {
    color: #EEE;
    text-align: center;
  }

  p {
    color: #BBB;
    font-weight: 300;
    line-height: 26px;
  }

  .actions {
    text-align: right;
  }

  .btn-default {
    color: #eee;
    background-color: transparent;
    border-color: #eee;

    &:hover {
      color: #333;
      background-color: #eee;
      border-color: #eee;
    }
  }
}

.top-bumper { margin-top: 22px; }
.hobby {
  .hobby-main {
    color: #FFF;

    padding: 20px 0;
    .hobby-header {
      // color: #EEE;
      text-align: center;
      margin: 15px 0 12px;

      h3 {
        color: #fff;
        opacity: 0.7;
        font-weight: 500;
        font-size: 24px;
      }

      h1 {
        color: #fff;
        font-size: 45px;
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 26px;
      }
    }
    .header-break {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;

      div { margin: 0 10px; }
    }
    .hobby-slider.slider-nav {
      .hobby-slider-item {
        display: block;
        margin-bottom: 5px;
        width: 100%;
        opacity: 0.5;

        &.slick-current {
          opacity: 1;
        }
        img {
        }
      }
    }
    .hobby-slider {width: 100%; }
    .hobby-slider.slider-nav {
      .slick-track { width: 100% !important; }
    }
    .slick-list { width: 100%; }
    .visual-thumb {
      width: 100%;

      img { width: 100%; }
      position: relative;

      &.video {
        .play-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          font-size: 20px;
          top: 0%;
          align-items: center;

          .icon-wrapper {
            background: #000;
            padding: 4px 15px 3px 18px;
            opacity: 0.7;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
          }
        }
      }
    }
    .slick-list { width: 100%; }

    .hobby-slider.slider-nav {
      height: 30vw;
      background: #111;

      overflow-y: scroll;
    }
    .hobby-slider.slider-for {
      background: #111;
      height: 30vw;
      overflow: hidden;

      .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        height: 30vw;
        width: 100%;
        object-fit: contain; /*magic*/
      }
    }
    .hobby-details {
      height: 30vw;
    }
  }
  .hobby-affiliates {
    background: #fff;
    .adblock-message {
      background: #f1f1f1;
      padding: 22px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
    }
  }
  .hobby-body {
    padding: 22px;
    background: #f1f1f1;
  }
}

.content-box {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 30px 0;
  color: #CCC;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 100;
}

.trait-fields {
  padding: 10px;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  background: #FFF;
}

.hobby-details {
  color: #2F80ED;
}

.hobby_tag_list {
  .checkbox { display: inline-block; margin-left: 20px; }
}
